In [1]:
import os
import pathlib
import sys

sys.path.append(str(pathlib.Path(os.getcwd()).parent))

In [2]:
from dpch.client.mock_auth_connect import connect

In [3]:
ds = connect(
    "http://localhost:8000",
    "vius1",
    100,
    100,
    0.3,
    1e-5,
    0,
    0,
    "laplacian",
    cache_ttl_seconds=60,
)

In [16]:
ds["vius1"]["regstate_AK"::10].histogram(bins=10)

,min,max,l1_sensitivity,l2_sensitivity,l1_max_norm,l2_max_norm,max_changed_rows
hist(regstate_AK)_bin_0,0,67952,2,1.414214,67952,67952,2
hist(regstate_AK)_bin_1,0,67952,2,1.414214,67952,67952,2
hist(regstate_AK)_bin_2,0,67952,2,1.414214,67952,67952,2
hist(regstate_AK)_bin_3,0,67952,2,1.414214,67952,67952,2
hist(regstate_AK)_bin_4,0,67952,2,1.414214,67952,67952,2
hist(regstate_AK)_bin_5,0,67952,2,1.414214,67952,67952,2
hist(regstate_AK)_bin_6,0,67952,2,1.414214,67952,67952,2
hist(regstate_AK)_bin_7,0,67952,2,1.414214,67952,67952,2
hist(regstate_AK)_bin_8,0,67952,2,1.414214,67952,67952,2
hist(regstate_AK)_bin_9,0,67952,2,1.414214,67952,67952,2